<div class="panel panel-default">
  <div class="panel-heading">
  <h4>Users</h4>
    <div class="add-button-top pull-right">
      <button routerLink="../add-user" type="button" class="btn btn-success" name="button">+ Add user</button>
    </div>
</div>
<div class="panel-body">
  <table class="table">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Position</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.postion}}</td>
      <td>Edit |
        <a href="#" (click)="delete(user.id)">Delete</a></td>
      <button type="button" class="btn btn-danger" name="button"><span class="glyphicon glyphicon-trash">Delete</span></button>
    </tr>
  </table>
</div>
</div>