<div class="container" *ngIf="isLoggedIn">
  <div class="row">
    <a routerLink="admin/users">Users</a>
    <a routerLink="admin/posts">Posts</a>
    <!--<a routerLink="admin/signout" class="glyphicon glyphicon-log-out">Log out</a>-->
    <button routerLink="admin/signout" type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </button>
  </div>
</div>
<div id="app">
  <div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
